################################################
###       environment config file            ###
################################################
SOURCE_DIR=./www


############# Container source.list ############
REPLACE_SOURCE_LIST=true


#################### Nginx #####################
NGINX_VERSION=1.15.7-alpine
NGINX_HTTP_HOST_PORT=80
NGINX_HTTPS_HOST_PORT=443
NGINX_CONFD_DIR=./conf/conf.d
NGINX_CONF_FILE=./conf/nginx.conf
NGINX_LOG_DIR=./log


#################### PHP7.2 ####################
PHP72_VERSION=7.2.13
PHP72_XDEBUG=2.6.1
PHP72_SWOOLE=4.2.1
PHP72_REDIS=4.1.1
PHP72_PHP_CONF_FILE=./conf/php.ini
PHP72_FPM_CONF_FILE=./conf/php-fpm.conf


#################### PHP5.6 ####################
PHP56_VERSION=5.6.39
PHP56_XDEBUG=2.5.5
PHP56_SWOOLE=2.0.11
PHP56_REDIS=4.1.1
PHP56_PHP_CONF_FILE=./conf/php.ini
PHP56_FPM_CONF_FILE=./conf/php-fpm.conf


#################### PHP5.4 ####################
PHP54_VERSION=5.4.45
PHP54_XDEBUG=2.4.1
PHP54_SWOOLE=false
PHP54_REDIS=4.1.1
PHP54_PHP_CONF_FILE=./conf/php.ini
PHP54_FPM_CONF_FILE=./conf/php-fpm.conf


#################### MySQL #####################
MYSQL_VERSION=8.0.13
MYSQL_HOST_PORT=3306
MYSQL_ROOT_PASSWORD=123456
MYSQL_DATA_DIR=./mysql
MYSQL_CONF_FILE=./conf/mysql.cnf


#################### Redis #####################
REDIS_VERSION=5.0.3-alpine
REDIS_HOST_PORT=6379
REDIS_CONF_FILE=./conf/redis.conf


################## phpMyAdmin ##################
PHPMYADMIN_HOST_PORT=8080


################# redisMyAdmin #################
REDISMYADMIN_HOST_PORT=8081
