# Copyright (c) 2015, Oracle and/or its affiliates. All rights reserved.
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; version 2 of the License.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software
# Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301 USA

#
# The MySQL Community Server configuration file.
#
# For explanations see
# http://dev.mysql.com/doc/mysql/en/server-system-variables.html

[client]
port		= 3306
socket		= /var/run/mysqld/mysqld.sock

[mysqld_safe]
pid-file	= /var/run/mysqld/mysqld.pid
socket		= /var/run/mysqld/mysqld.sock
nice		= 0

[mysqld]
user		= mysql
pid-file	= /var/run/mysqld/mysqld.pid
socket		= /var/run/mysqld/mysqld.sock
port		= 3306
skip-name-resolve 
back_log			= 500
max_connections		= 2000
max_connect_errors	= 9999999
table_open_cache	= 512
max_allowed_packet	= 16M
max_heap_table_size	= 64M
sort_buffer_size	= 8M
join_buffer_size	= 8M
thread_cache_size	= 64
innodb_thread_concurrency = 4
query_cache_size	=128M
query_cache_limit	= 2M
default-storage-engine = innodb
thread_stack		= 192K
transaction_isolation = REPEATABLE-READ
tmp_table_size		= 64M
table_open_cache	= 2048
datadir				= /var/lib/mysql
tmpdir				= /tmp
lc-messages-dir		= /usr/share/mysql
explicit_defaults_for_timestamp

# *** log config***
slow_query_log
long_query_time		= 2
# log-slow-queries	= /var/log/mysql/mysql-slow.log
slow-query-log-file	= /var/log/mysql/mysql-slow.log # 5.6+
log-queries-not-using_indexes

# *** myisam Specific options ***
key_buffer_size			= 256M
read_buffer_size		= 2M
read_rnd_buffer_size	= 16M
bulk_insert_buffer_size	= 64M
myisam_sort_buffer_size = 128M
myisam_max_sort_file_size = 10G
myisam_repair_threads	= 1
myisam_recover_options

# Instead of skip-networking the default is now to listen only on
# localhost which is more compatible and is not less secure.
#bind-address	= 127.0.0.1

[mysqldump]
quick
max_allowed_packet = 16M
log-error	= /var/log/mysql/error.log

# Recommended in standard MySQL setup
sql_mode=NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES

[mysql]
no-auto-rehash

# Only allow UPDATEs and DELETEs that use keys.
#safe-updates

[myisamchk]
key_buffer_size		= 512M
sort_buffer_size	= 512M
read_buffer			= 8M
write_buffer		= 8M
# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links		=0

[mysqlhotcopy]
interactive-timeout

[mysqld_safe]
# Increase the amount of open files allowed per process. Warning: Make
# sure you have set the global system limit high enough! The high value
# is required for a large number of opened tables
open-files-limit = 60000

# * IMPORTANT: Additional settings that can override those from this file!
#   The files must end with '.cnf', otherwise they'll be ignored.
#
!includedir /etc/mysql/conf.d/
